<h1>Login!</h1>

<%= form_tag(sessions_path) do %>
  <%= text_field_tag :username, '', :placeholder => "username here" %>
  <%= text_field_tag :password, '', :placeholder => "password here" %>
  <%= submit_tag %>
<% end %>
