<h1>Flight Detail</h1>
<h4><%= @flight.name %></h4>
<h4>Distance: <%= number_with_precision(@flight.distance, precision: 1) %> Nautical miles</h4>
<h4>Estimated flight time <%= number_with_precision(@flight.estimated_duration, precision: 1) %> hours</h4>

<p>
<%#= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@flight.origin_airport.latitude.to_s},#{@flight.origin_airport.longitude.to_s}&key=AIzaSyDhuO1twXW0dDJV8XJhFUlKaT-2MclJSKM", alt: "Map" %>
<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=1100x795&markers=color:red|label:1|#{@flight.origin_airport.latitude.to_s},#{@flight.origin_airport.longitude.to_s}&markers=color:red|label:2|#{@flight.destination_airport.latitude.to_s},#{@flight.destination_airport.longitude.to_s}&path=color:0x0000ff|weight:5|geodesic:true|#{@flight.origin_airport.latitude.to_s},#{@flight.origin_airport.longitude.to_s}|#{@flight.destination_airport.latitude.to_s},#{@flight.destination_airport.longitude.to_s}&key=AIzaSyDhuO1twXW0dDJV8XJhFUlKaT-2MclJSKM", alt: "Map" %>


</p>
