<h1>Sign up!</h1>

<%= form_for(@pilot) do |f| %>
  <%= f.text_field :username, placeholder: "Register with a username!" %>
  <%= f.text_field :password, placeholder: "Choose a password!" %>

  <%= f.submit %>
<%  end %>
